version: '3'

services:
  stobot:
    build:
      context: .
      dockerfile: docker/bookworm/Dockerfile
    image: stobot:bookworm
    environment:
      - DISCORD_TOKEN=<your discord token>
    volumes:
      - <path to channels txt folder>:/stobot
    command: -c /stobot/channels.txt